.sarpanchFont{
    font-family: 'Sarpanch', sans-serif;
}

.robotoFont{
    font-family: 'Roboto', sans-serif;
}

.icelandFont{
    font-family: 'Iceland', cursive;
}

.counters{
    font-size: 25px;
}

.row{
    margin-bottom: 0px !important;
}

.container {
    margin: 0 auto;
    max-width: 500px !important;
    width: 90%;
  }