.sarpanchFont{
    font-family: 'Sarpanch', sans-serif;
}

.robotoFont{
    font-family: 'Roboto', sans-serif;
}

.icelandFont{
    font-family: 'Iceland', cursive;
}

.counters{
    font-size: 35px;
}

.row{
    margin-bottom: 0px !important;
}